/*Pré Definição de Cores*/
:root {
  --vinho: #6d2c46;
  --vinho-claro: #8d3d5b;
  --vinho-suave: #a35875;
  --bege: #f8f1e9;
  --cinza-claro: #f5f5f5;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bege);
  color: #333;
  padding-top: 80px;
}

.navbar {
  background-color: white !important;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: var(--vinho) !important;
  font-weight: 300;
}

.btn-warning {
  background-color: var(--vinho);
  color: white;
  border: none;
  transition: all 0.3s;
}

.btn-warning:hover {
  background-color: var(--vinho-claro);
  color: white;
}