 :root {
  --vinho: #6d2c46;
  --vinho-claro: #8d3d5b;
  --vinho-suave: #a35875;
  --bege: #f8f1e9;
  --cinza-claro: #f5f5f5;
}

 .form-section {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url('../img/esqueceuASenha.webp');
        /* Substitua pela imagem real */
        background-size: cover;
        background-position: center;
    }

    .form-container {
        max-width: 400px;
        width: 100%;
    }

    .logo-form {
        width: 70px;
    }

    .btn-primary {
        background-color: var(--vinho-claro);
        border: none;
    }

    .btn-primary:hover {
        background-color: var(--vinho);
    }

    .form-text a {
        color: var(--vinho-suave);
        text-decoration: none;
    }

    .form-text a:hover {
        text-decoration: underline;
    }