

/* ---HeroSection*/

.hero {
    background: url(../img/fundoRoxo.png) no-repeat center center/cover;
    height: 80vh;
    background-size: cover;
    background-position: center;
}

header div h1 {
    font-family: "Parisienne", cursive;
    font-size: 38pt;
}

#btnHeroSection {
    border-radius: 25px;
    transition: all 0.3s ease;
}

#btnHeroSection:hover {
    transform: scale(1.1);
}

#btnHeroSection a {
    text-decoration: none;
    font-size: 12pt;

}

/* Sessão de Depoimentos*/

/* Estilos mínimos para o Swiper */
.swiper {
    width: 100%;
    padding: 20px 0 40px;
}

.swiper-slide {
    height: auto;
}

.swiper-button-next,
.swiper-button-prev {
    color: #7a2a3a;
    background: rgba(255, 255, 255, 0.9);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1.2rem;
}

.swiper-pagination-bullet {
    background: #7a2a3a;
}

/* Sessão de Serviços*/

#tituloServicos {
    font-family: "Parisienne", cursive;
}
