body {
    font-family: 'Montserrat', sans-serif;
    overflow-y: none;
  }
  
  :root {
    --vinho: #6d2c46;
    --vinho-claro: #8d3d5b;
    --vinho-suave: #a35875;
    --bege: #f8f1e9;
    --cinza-claro: #f5f5f5;
  }
    
  
  .navbar {
    background-color: white !important;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    color: var(--vinho) !important;
    font-weight: 400;
  }
  
  .btn-warning {
    background-color: var(--vinho);
    color: white;
    border: none;
    transition: all 0.3s;
  }
  
  .btn-warning:hover {
    background-color: var(--vinho-claro);
    color: white;
  }

a {
    text-decoration: none;
}

.col-lg-6 {
    position: relative;
}

.login {
    background-image: url('../img/terapia.jpeg');
}

.cadastro {
    background-image: url('../img/cadastrar.webp');
}

.bg-holder {

    position: absolute;
    width:100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    font-size: 0.8rem;
    font-weight: 700;
}

.btn i {
    vertical-align: text-top;
}

.btn-outline-custom {
    color: #31374a;
    border-color: #ddd;
}
.btn-outline-custom:hover {
    color: #31374a;
    border-color: #eee;
    background-color: #eee;
}
.divider-content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    color: #999;

}

.divider {
    margin: 2rem 0;
}